.input_text {
    padding: 10px 30px;
    margin: 1px;
    border-radius: 20px;
}

.loginbtn {
    margin: 1px;
    width: 235px;
    height: 37px;
    border-radius: 20px;
    background-color: white;
}

.loginbtn:hover {
    background-color: lightgray;
}