* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: black;
    font-size: 30px;
}

.navigation a {
    position: relative;
    font-size: 30px;
    text-decoration: none;
    color: black;
    margin-right: 150px;
}

.sign_btn {
    width: 130px;
    height: 50px;
    font-size: 30px;
    margin-left: 150px;
    border: 2px solid black;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
}